@use "sass:meta";
@use "sass:math";
@use "sass:map";
@use "breakpoints" as *;

@mixin mq($size) {
  $breakpoint: "";

  @if map.has-key($breakpoints, $size) {
    $breakpoint: map.get($breakpoints, $size);
  } @else if type-of($size) == "number" and not unitless($size) {
    $breakpoint: $size;
  } @else {
    @error 'Value #{$size} is not in the map or the number has not an unit!';
  }

  @media sreen and (min-width: $breakpoint) {
    @content;
  }
}

// @mixin mq($size) {
//   @if map.has-key($breakpoints, $size) {
//     $breakpoint: map-get($breakpoints, $size);
//     @media screen and (min-width: $breakpoint) {
//       @content;
//     }
//   } @else if meta.type-of($size) == number {
//     @if math.is-unitless($size) {
//       @error 'when using a number with @mq() make sure to include a unit';
//     } @else {
//       @media screen and (min-width: $size) {
//         @content;
//       }
//     }
//   } @else {
//     @error 'the keyword #{$size} is not in the $breakpoints map';
//   }
// }
